<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" /> @*As of right now this isn't bein used. Connect _ViewStart to this page if you want to use it'*@
</head>
<body>

    <div>
        @RenderBody()
    </div>
</body>
</html>
