<div class="text-center">
    <h1>Congratulations! LETS GOOOOO to the temple</h1>
    <p>Your appointment is confirmed.</p>
    <a class="btn btn-sm btn-primary" asp-action="Index" asp-controller="Home">Back to Home</a>
</div>