@{ ViewData["Title"] = "Select Appointment"; }

@model List<TempleModel>
<h1>Please Select an Available Date and Time</h1>
<br />

@if (Model == null)
{
    <h4>No available times, please check again later.</h4>
}
else
{

    @foreach (var x in Model)
    {
        if (x.Name == null)
        {
            <a class="btn btn-group-lg btn-primary" asp-action="Form" asp-controller="Home" asp-route-id="@x.id">@x.DateTime</a>
            <br />
            <br />
        }
        else
        {
            <button type="button" class="btn btn-group-lg btn-danger" onclick="nope()">@x.DateTime</button>
            <br />
            <br />
        }
    }
}
<script>
    function nope() {
        alert("This time is not available! Please choose another");
    }
</script>

