@{
    ViewData["Title"] = "Appointments";
}

<table>

    <thead>
        <tr>
            <td>Name</td>
            <td>Appoitment Time</td>
            <td>Size of Group</td>
            <td>Email</td>
            <td>Phone</td>
        </tr>
    </thead>

</table>
